/* body: htmlの中身 */
body {
    background-color: #eeeedd;
}

/* class="container" が指定されたタグの中身 */
.container {
    margin: 0 auto;
    padding: 30px;
    width: 70%;
    background-color: #ffffff;
}

/* h1タイトル */
h1 {
    color: #5d627b;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #5d627b;/*上線*/
    border-bottom: solid 3px #5d627b;/*下線*/
}

/* 画像の設定 */
img {
    padding: 10px;
    width: 60%;
}

/* aタグ（リンクの設定） */
a {
    color: #f0a500;
}

/* boxタグの中身 */
.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* boxタグの中のpタグ */
.box p {
    margin: 0; 
    padding: 0;
}

/* ボタンの枠 */
.button-frame-next {
    text-align: right;
}

/* ボタン */
.page-button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #5d627b;
    border: solid 2px #5d627b;
    border-radius: 3px;
    transition: .4s;
  }
